In [1]:
import pandas as pd
import numpy as np
import os

# Load Danish and Norwagian Raw Data

### Danish

In [2]:
da_IDS_base_dir = r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Raw_Data\DanishVowelAnnotationDataCSV\220922_newformants\IDS'

In [3]:
# store danish IDS raw data in dataframe
df_IDS_da = pd.DataFrame()
for file in os.listdir(da_IDS_base_dir):
    #print(file)
    df = pd.read_csv(os.path.join(da_IDS_base_dir, file), encoding='UTF-16')
    df = df.dropna()
    df_IDS_da = pd.concat([df_IDS_da, df], ignore_index=True)

In [4]:
da_ADS_base_dir = r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Raw_Data\DanishVowelAnnotationDataCSV\220922_newformants\ADS'

In [5]:
# store danish ADS raw data in datframe
df_ADS_da = pd.DataFrame()
for file in os.listdir(da_ADS_base_dir):
    #print(file)
    df = pd.read_csv(os.path.join(da_ADS_base_dir, file), encoding='UTF-16')
    df = df.dropna()
    df_ADS_da = pd.concat([df_ADS_da, df], ignore_index=True)

### Norwagian

In [6]:
no_ADS_IDS_base_dir = r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Raw_Data\NorwegianDataExcel'

In [7]:
# store norwagian ADS and IDS raw data in dataframe 
df_no = pd.read_excel(os.path.join(no_ADS_IDS_base_dir, '1_FormantsWithFormatCeiling.xlsx'), index_col=[0,1])

In [8]:
# create separate dataframes for norwagian IDS and ADS raw data

#ADS
df_ADS_no = df_no[df_no['Register']== 'ADS']

#IDS
df_IDS_no = df_no[df_no['Register']== 'IDS']

# Add age, register, and spkid in the danish dataframes and make uniform columns name across all dataframes.

### Danish spkid and register columns

In [9]:
#IDS
df_IDS_da['spkid'] = df_IDS_da['file'].apply(lambda x: x.split('_')[0])
df_IDS_da['Register'] = df_IDS_da['file'].apply(lambda x: x.split('_')[3])

#ADS
df_ADS_da['spkid'] = df_ADS_da['file'].apply(lambda x: x.split('_')[0])
df_ADS_da['Register'] = df_ADS_da['file'].apply(lambda x: x.split('_')[3])

### Danish child age mapping from the txt file

In [10]:
from utils import create_spkid_age_mapping
# Load the mapping from the text file
file_path = r"C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Raw_Data\DanishChildAgeGenderInfo\Child_data.txt"
spkid_age_mapping = create_spkid_age_mapping(file_path)

# Map the AgeInMonth to the Danish IDS and ADS DataFrames
df_IDS_da['AgeMonth'] = df_IDS_da['spkid'].map(spkid_age_mapping)
df_ADS_da['AgeMonth'] = df_ADS_da['spkid'].map(spkid_age_mapping)

### Making uniform column names across noragian and danish dataframes

In [11]:
# Danish dataframes
# droping unrquired columns
df_ADS_da.drop(columns=['stressed','short','focused','contentword'], inplace=True)
df_IDS_da.drop(columns=['stressed','short','focused','contentword'], inplace=True)

# renaming columns to make uniform like norwagian dataframe columns
df_ADS_da.rename(columns={'time': 'time_start', 'phoneme':'IPA', 'file': 'file_name'}, inplace=True)
df_IDS_da.rename(columns={'time': 'time_start', 'phoneme':'IPA', 'file': 'file_name'}, inplace=True)

# Adding Time end column to danish dataframes 
df_ADS_da['time_end'] = df_ADS_da['time_start'] + df_ADS_da['duration']
df_IDS_da['time_end'] = df_IDS_da['time_start'] + df_IDS_da['duration']

# Adding duration in ms column in danish dataframes by converting duration column into ms
df_ADS_da['duration(ms)'] = df_ADS_da['duration'] * 1000
df_ADS_da['duration(ms)'] = df_ADS_da['duration'] * 1000

# droping duration column from the both dataframes
df_ADS_da.drop(columns='duration', inplace=True)
df_IDS_da.drop(columns='duration', inplace=True)

In [12]:
# Norwagian
#reseting index
df_ADS_no.reset_index(inplace=True)
df_IDS_no.reset_index(inplace=True)

#rename columns to make uniform to danish dataframes
df_ADS_no = df_ADS_no.copy()
df_ADS_no.rename(columns={'f1': 'F1', 'f2':'F2', 'f3': 'F3', 'f4': 'F4'}, inplace=True)
df_IDS_no = df_IDS_no.copy()
df_IDS_no.rename(columns={'f1': 'F1', 'f2':'F2', 'f3': 'F3', 'f4': 'F4'}, inplace=True)

# Check all dataframes for NA values and cleaning the data

In [13]:
# Danish ADS
df_ADS_da.isna().sum()

file_name       0
time_start      0
IPA             0
F1              0
F2              0
F3              0
spkid           0
Register        0
AgeMonth        0
time_end        0
duration(ms)    0
dtype: int64

In [14]:
# Danish IDS
df_IDS_da.isna().sum()

file_name     0
time_start    0
IPA           0
F1            0
F2            0
F3            0
spkid         0
Register      0
AgeMonth      0
time_end      0
dtype: int64

In [15]:
# Norwagian ADS
df_ADS_no.isna().sum()

file_name             0
id                    0
spkid                 0
AgeMonth              0
Parent                0
Register              0
time_start            0
time_end              0
Duration(ms)          0
Word                  2
Phoneme               0
IPA                   0
formantceilling       0
F1                 1111
F2                 1111
F3                 1111
F4                 1111
dtype: int64

In [16]:
# Norwagian IDS
df_IDS_no.isna().sum()

file_name            0
id                   0
spkid                0
AgeMonth             0
Parent               0
Register             0
time_start           0
time_end             0
Duration(ms)         0
Word                 2
Phoneme              0
IPA                  0
formantceilling      0
F1                 832
F2                 832
F3                 832
F4                 832
dtype: int64

In [17]:
# droping missing values rows from norwagian dataframes
Formant_df_ADS_no = df_ADS_no.dropna()
Formant_df_IDS_no = df_IDS_no.dropna()

In [18]:
# Danish new dataframes with new names
Formant_df_ADS_da = df_ADS_da.copy()
Formant_df_IDS_da = df_IDS_da.copy()

### Check column datatypes for both norwagian and danish dataframes

In [19]:
# Danish ADS
Formant_df_ADS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file_name     4538 non-null   object
 1   time_start    4538 non-null   float64
 2   IPA           4538 non-null   object
 3   F1            4538 non-null   object
 4   F2            4538 non-null   object
 5   F3            4538 non-null   object
 6   spkid         4538 non-null   object
 7   Register      4538 non-null   object
 8   AgeMonth      4538 non-null   object
 9   time_end      4538 non-null   float64
 10  duration(ms)  4538 non-null   float64
dtypes: float64(3), object(8)
memory usage: 390.1+ KB

In [20]:
# Convert object columns that contain numeric values to float
col_names = ['F1', 'F2', 'F3', 'AgeMonth']
Formant_df_ADS_da[col_names] = Formant_df_ADS_da[col_names].apply(pd.to_numeric, errors='coerce')

In [21]:
Formant_df_ADS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file_name     4538 non-null   object
 1   time_start    4538 non-null   float64
 2   IPA           4538 non-null   object
 3   F1            4538 non-null   float64
 4   F2            4538 non-null   float64
 5   F3            4538 non-null   float64
 6   spkid         4538 non-null   object
 7   Register      4538 non-null   object
 8   AgeMonth      4538 non-null   int64
 9   time_end      4538 non-null   float64
 10  duration(ms)  4538 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 390.1+ KB

In [22]:
# Danish IDS
Formant_df_IDS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4784 entries, 0 to 4783
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   file_name   4784 non-null   object
 1   time_start  4784 non-null   float64
 2   IPA         4784 non-null   object
 3   F1          4784 non-null   float64
 4   F2          4784 non-null   float64
 5   F3          4784 non-null   float64
 6   spkid       4784 non-null   object
 7   Register    4784 non-null   object
 8   AgeMonth    4784 non-null   object
 9   time_end    4784 non-null   float64
dtypes: float64(5), object(5)
memory usage: 373.9+ KB

In [23]:
Formant_df_IDS_da['AgeMonth'] = Formant_df_IDS_da['AgeMonth'].apply(pd.to_numeric, errors='coerce')

In [24]:
Formant_df_IDS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4784 entries, 0 to 4783
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   file_name   4784 non-null   object
 1   time_start  4784 non-null   float64
 2   IPA         4784 non-null   object
 3   F1          4784 non-null   float64
 4   F2          4784 non-null   float64
 5   F3          4784 non-null   float64
 6   spkid       4784 non-null   object
 7   Register    4784 non-null   object
 8   AgeMonth    4784 non-null   int64
 9   time_end    4784 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 373.9+ KB

In [25]:
# Norwagian ADS
Formant_df_ADS_no.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27454 entries, 0 to 28565
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   file_name        27454 non-null  object
 1   id               27454 non-null  int64
 2   spkid            27454 non-null  object
 3   AgeMonth         27454 non-null  int64
 4   Parent           27454 non-null  object
 5   Register         27454 non-null  object
 6   time_start       27454 non-null  float64
 7   time_end         27454 non-null  float64
 8   Duration(ms)     27454 non-null  float64
 9   Word             27454 non-null  object
 10  Phoneme          27454 non-null  object
 11  IPA              27454 non-null  object
 12  formantceilling  27454 non-null  int64
 13  F1               27454 non-null  float64
 14  F2               27454 non-null  float64
 15  F3               27454 non-null  float64
 16  F4               27454 non-null  float64
dtypes: float64(7), int64(3), object(7)
memory usage: 3.8+ MB

In [26]:
# Norwagian IDS
Formant_df_IDS_no.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27597 entries, 0 to 28430
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   file_name        27597 non-null  object
 1   id               27597 non-null  int64
 2   spkid            27597 non-null  object
 3   AgeMonth         27597 non-null  int64
 4   Parent           27597 non-null  object
 5   Register         27597 non-null  object
 6   time_start       27597 non-null  float64
 7   time_end         27597 non-null  float64
 8   Duration(ms)     27597 non-null  float64
 9   Word             27597 non-null  object
 10  Phoneme          27597 non-null  object
 11  IPA              27597 non-null  object
 12  formantceilling  27597 non-null  int64
 13  F1               27597 non-null  float64
 14  F2               27597 non-null  float64
 15  F3               27597 non-null  float64
 16  F4               27597 non-null  float64
dtypes: float64(7), int64(3), object(7)
memory usage: 3.8+ MB

# Counting datapoints

### Danish

In [27]:
da_ADS_count_per_spkid_age_IPA_df = Formant_df_ADS_da.groupby(['spkid','AgeMonth','IPA']).size().reset_index()
da_ADS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

In [28]:
da_IDS_count_per_spkid_age_IPA_df = Formant_df_IDS_da.groupby(['spkid','AgeMonth','IPA']).size().reset_index()
da_IDS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

### Norwagian

In [29]:
no_ADS_count_per_spkid_age_IPA_df = Formant_df_ADS_no.groupby(['Parent','spkid','AgeMonth','IPA']).size().reset_index()
no_ADS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

In [30]:
no_IDS_count_per_spkid_age_IPA_df = Formant_df_IDS_no.groupby(['Parent','spkid','AgeMonth','IPA']).size().reset_index()
no_IDS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

# Saving clean dataframes and count values

### Clean dataframes

In [31]:
# Danish
Formant_df_ADS_da.to_csv(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Clean_data\Danish\Formants\Formant_df_ADS_da.csv')
Formant_df_IDS_da.to_csv(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Clean_data\Danish\Formants\Formant_df_IDS_da.csv')

In [32]:
# Norwagian
Formant_df_ADS_no.to_csv(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Clean_data\Norwagian\Formants\Formant_df_ADS_no.csv')
Formant_df_IDS_no.to_csv(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\Clean_data\Norwagian\Formants\Formant_df_IDS_no.csv')

### Count dataframes

In [34]:
# Danish
da_ADS_count_per_spkid_age_IPA_df.to_excel(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\DataCount\Danish\da_ADS_count_per_spkid_age_IPA_df..xlsx')
da_IDS_count_per_spkid_age_IPA_df.to_excel(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\DataCount\Danish\da_IDS_count_per_spkid_age_IPA_df..xlsx')

In [35]:
# Norwagian
no_ADS_count_per_spkid_age_IPA_df.to_excel(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\DataCount\Norwagian\no_ADS_count_per_spkid_age_IPA_df..xlsx')
no_IDS_count_per_spkid_age_IPA_df.to_excel(r'C:\Users\arunps\OneDrive\Projects\Scripts\Python\NorwagianAndDanishIDSandADS\DataCount\Norwagian\no_IDS_count_per_spkid_age_IPA_df..xlsx')