In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))

In [22]:
import pandas as pd
import numpy as np

from paths import *

# Load Metadata

### Danish

In [5]:
# load danish IDS metadata in dataframe
df_IDS_da = pd.read_csv(path_meta_df_IDS_da)

In [6]:
# load danish ADS metadata in datframe
df_ADS_da = pd.read_csv(path_meta_df_ADS_da)

### Norwagian

In [7]:
# load danish IDS metadata in dataframe
df_IDS_no = pd.read_csv(path_meta_df_IDS_no)

In [8]:
# load danish ADS metadata in datframe
df_ADS_no = pd.read_csv(path_meta_df_ADS_no)

# Check all dataframes for NA values and cleaning the data

In [9]:
# Danish ADS
df_ADS_da.isna().sum()

Unnamed: 0    0
file_name     0
spkid         0
AgeMonth      0
Register      0
time_start    0
time_end      0
IPA           0
dtype: int64

In [10]:
# Danish IDS
df_IDS_da.isna().sum()

Unnamed: 0    0
file_name     0
spkid         0
AgeMonth      0
Register      0
time_start    0
time_end      0
IPA           0
dtype: int64

In [11]:
# Norwagian ADS
df_ADS_no.isna().sum()

Unnamed: 0    0
file_name     0
spkid         0
AgeMonth      0
Parent        0
Register      0
time_start    0
time_end      0
IPA           0
dtype: int64

In [12]:
# Norwagian IDS
df_IDS_no.isna().sum()

Unnamed: 0    0
file_name     0
spkid         0
AgeMonth      0
Parent        0
Register      0
time_start    0
time_end      0
IPA           0
dtype: int64

### Check column datatypes for both norwagian and danish dataframes

In [13]:
# Danish ADS
df_ADS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4538 entries, 0 to 4537
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4538 non-null   int64
 1   file_name   4538 non-null   object
 2   spkid       4538 non-null   object
 3   AgeMonth    4538 non-null   int64
 4   Register    4538 non-null   object
 5   time_start  4538 non-null   float64
 6   time_end    4538 non-null   float64
 7   IPA         4538 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 283.8+ KB

In [14]:
# Danish IDS
df_IDS_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4784 entries, 0 to 4783
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4784 non-null   int64
 1   file_name   4784 non-null   object
 2   spkid       4784 non-null   object
 3   AgeMonth    4784 non-null   int64
 4   Register    4784 non-null   object
 5   time_start  4784 non-null   float64
 6   time_end    4784 non-null   float64
 7   IPA         4784 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 299.1+ KB

In [15]:
# Norwagian ADS
df_ADS_no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27454 entries, 0 to 27453
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  27454 non-null  int64
 1   file_name   27454 non-null  object
 2   spkid       27454 non-null  object
 3   AgeMonth    27454 non-null  int64
 4   Parent      27454 non-null  object
 5   Register    27454 non-null  object
 6   time_start  27454 non-null  float64
 7   time_end    27454 non-null  float64
 8   IPA         27454 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 1.9+ MB

# Counting datapoints

### Danish

In [16]:
da_ADS_count_per_spkid_age_IPA_df = df_ADS_da.groupby(['spkid','AgeMonth','IPA']).size().reset_index()
da_ADS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

In [17]:
da_IDS_count_per_spkid_age_IPA_df = df_IDS_da.groupby(['spkid','AgeMonth','IPA']).size().reset_index()
da_IDS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

### Norwagian

In [18]:
no_ADS_count_per_spkid_age_IPA_df = df_ADS_no.groupby(['Parent','spkid','AgeMonth','IPA']).size().reset_index()
no_ADS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

In [19]:
no_IDS_count_per_spkid_age_IPA_df = df_IDS_no.groupby(['Parent','spkid','AgeMonth','IPA']).size().reset_index()
no_IDS_count_per_spkid_age_IPA_df.rename(columns={0: 'count'}, inplace=True)

##### Saving count values Count dataframes

In [23]:
# Danish
da_ADS_count_per_spkid_age_IPA_df.to_excel(da_ADS_count)
da_IDS_count_per_spkid_age_IPA_df.to_excel(da_IDS_count)

In [24]:
# Norwagian
no_ADS_count_per_spkid_age_IPA_df.to_excel(no_ADS_count)
no_IDS_count_per_spkid_age_IPA_df.to_excel(no_IDS_count)